<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="create an Event">
        <title>Cuisine Connect</title>
        <link rel="stylesheet" href="static/style/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">        
    </head>
    <body class="bGColor">
        <nav class="navbar sticky-top navbar-expand-sm bg-light navbar-light justify-content-center">
            <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li><a class="navbar-brand" href = "index.html"><img src="static/img/logo.png" style="width:240px;height:90px"></a></li>
                        <li class="nav-item" ><a style="font-size: 150%; padding-top: 30px;" class="nav-link" href = "index.html"><b>Home</b></a></li>
                        <li class="nav-item" ><a style="font-size: 150%; padding-top: 30px;" class="active nav-link" href = "createEvent.html"><b>Create an Event</b></a></li>
                    </ul>
                    <ul class = "navbar-nav navbar-right">
                        <li class="nav-item" style="font-size: 130%; padding-right: 30px;"><a class="nav-link" href = "profile.html">Profile</a></li>
                    </ul>
            </div>
        </nav>
            <div>
                <div class="heading">
                    <h1>Create An Event!</h1><br><br>
                </div>
                <div class="container"><div class="row">
                    <div class="col-sm-8"><div class="formLayout"><div class="container">
                        <h4>Input Event Details Here</h4>
                        <form>
                            <label for="inputEventName"><b>Event Name:</b></label>
                            <input class="form-control" id="inputEventName" type="text"><br>
                            <label for="inputLocation"><b>Location:</b></label>
                            <input class="form-control" id="inputLocation" type="text"><br>
                            <b>Date:</b><br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="inputDate1">From</label>
                                    <input class="form-control" id="inputDate1" type="date">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputDate2">To</label>
                                    <input class="form-control" id="inputDate2" type="date">
                                </div>
                            </div><br>
                            <b>Time:</b><br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="inputTime1">From</label>
                                    <input class="form-control" id="inputTime1" type="time">
                                </div>
                                <div class="col-sm-6">
                                    <label for="inputTime2">To</label>
                                    <input class="form-control" id="inputTime2" type="time">
                                </div>
                            </div><br>
                            <b>Tickets:</b><br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputGA">General Admission</label>
                                    <div class="input-group">
                                        <div class="input-group-text">$</div>
                                        <input class="form-control" id="inputGA" type="number" placeholder="0.00" step="any" />
                                        <div class="input-group-text">AUD</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputGAAva">Availability</label>
                                    <input class="form-control" id="inputGAAva" type="number" value="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputCo">Concession</label>
                                    <div class="input-group">
                                        <div class="input-group-text">$</div>
                                        <input class="form-control" id="inputCo" type="number" placeholder="0.00" step="any" />
                                        <div class="input-group-text">AUD</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputCoAva">Availability</label>
                                    <input class="form-control" id="inputCoAva" type="number" value="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="inputVIP">VIP</label>
                                    <div class="input-group">
                                        <div class="input-group-text">$</div>
                                        <input class="form-control" id="inputVIP" type="number" placeholder="0.00" step="any" />
                                        <div class="input-group-text">AUD</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="inputVIPAva">Availability</label>
                                    <input class="form-control" id="inputVIPAva" type="number" value="0">
                                </div>
                            </div><br>
                            <b>General Description:</b> maximum---250 cahracters<br>
                            <div class="overflow-auto">
                                <textarea class="inputBox" id="InputGeneralDes" maxlength="250"></textarea>
                            </div><br>
                            <b>More About The Event:</b><br>
                            <div class="overflow-auto">
                                <textarea class="inputBox" id="InputMoreInfo" placeholder="eg. Ticket Informations, Event Guidelines, Terms and Conditions, etc."></textarea>
                            </div><br><br>
                            <button class="btn btn-outline-success">Post Event</button>
                        </form>
                    </div></div></div>
                    <div class="col-sm-4"><div class="formLayout"><div class="container">
                        <h4>Upload Your Videos and Images Here</h4><br>
                        <form>
                            <input class="form-control" type="file" accept="video/*,image/*" multiple><br>
                            <input class="btn btn-outline-dark" type="submit" value="Upload">
                        </form>           
                    </div></div></div>
                </div></div>
            </div>
        <br><br><br><br>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>