{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="heading">
        <h1>{{ event.name }}</h1><br><br>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box">
                    <img class="cropImage" src="{{ url_for('static', filename=event.image.split('static/')[1].replace('\\', '/')) }}" alt="Event Image">
                </div>
                <br><b>Location:</b> {{ event.location }}
                <br><b>Date:</b> {{ event.start_date.strftime('%d %b %Y') }} - {{ event.end_date.strftime('%d %b %Y') }}
                <br><b>Time:</b> {{ event.start_time.strftime('%I:%M %p') }} - {{ event.end_time.strftime('%I:%M %p') }}
                <br><b>Status:</b> {{ event.status }}
                <br><b>Event Organiser:</b> {{ event.user.name }}
                <br><br><h4>Comments</h4>
                <div class="overflow-auto reviewsColor">
                    <div class="reviews">
                        {% for comment in event.comments %}
                        <div>
                            <b>{{ comment.user.name }}:</b><br>
                            {{ comment.text }}
                            <div class="text-muted">posted on: {{ comment.created_at.strftime('%d %b %Y') }}</div>
                        </div>
                        <hr class="hr hr-blurry" />
                        {% endfor %}
                    </div>
                </div>
                <form method="post" action="{{ url_for('event.post_comment', event_id=event.id) }}">
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3"> 
                        {{ form.text(class="form-control") }}
                        <button class="btn btn-outline-success" type="submit">Post</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-5">
                <h4>Description:</h4>
                {{ event.description }}
                <br><br><br><h4>About This Event:</h4>
                <br><b>Tickets Details:</b>
                <br>- General Admission: ${{ "%.2f"|format(event.ga_price) }} AUD
                <br>- Concession - ${{ "%.2f"|format(event.concession_price) }} AUD
                <br>- VIP Pass (Includes exclusive access and chef meet-and-greet): ${{ "%.2f"|format(event.vip_price) }} AUD
                <br><br><b>Event Guidelines:</b>
                {{ event.event_guidelines }}
                <br><br><b>Terms and Conditions:</b>
                {{ event.terms_conditions }}
            </div>
            <div class="col-sm-4">
                <div class="formLayout">
                    <div class="container">
                        <h4>Book a Ticket Now!</h4>
                        <form method="post" action="{{ url_for('event.book_event', id=event.id) }}">
                            <br><b>General Admission - ${{ "%.2f"|format(event.ga_price) }} AUD</b><br>
                            <div class="input-group">
                                <div class="input-group-text">Quantity:</div>
                                <input type="number" name="ga_quantity" id="GAquantity" class="form-control" min="0" value="0">
                            </div><br>
                            <br><b>Concession - ${{ "%.2f"|format(event.concession_price) }} AUD</b><br>
                            <div class="input-group">
                                <div class="input-group-text">Quantity:</div>
                                <input type="number" name="concession_quantity" id="concessionquantity" class="form-control" min="0" value="0">
                            </div><br>
                            <br><b>VIP - ${{ "%.2f"|format(event.vip_price) }} AUD</b><br>
                            <div class="input-group">
                                <div class="input-group-text">Quantity:</div>
                                <input type="number" name="vip_quantity" id="VIPquantity" class="form-control" min="0" value="0">
                            </div><br>
                            <div id="totalPrice">Total Cost: $0.00 AUD</div><br>
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <button class="btn btn-outline-success" type="submit">Book Event</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateTotal() {
        var gaPrice = {{ event.ga_price }};
        var conPrice = {{ event.concession_price }};
        var vipPrice = {{ event.vip_price }};

        var gaQuantity = parseInt(document.getElementById('GAquantity').value) || 0;
        var conQuantity = parseInt(document.getElementById('concessionquantity').value) || 0;
        var vipQuantity = parseInt(document.getElementById('VIPquantity').value) || 0;

        var totalPrice = (gaQuantity * gaPrice) + (conQuantity * conPrice) + (vipQuantity * vipPrice);

        document.getElementById('totalPrice').innerText = 'Total Cost: $' + totalPrice.toFixed(2) + ' AUD';
    }

    document.getElementById('GAquantity').addEventListener('input', updateTotal);
    document.getElementById('concessionquantity').addEventListener('input', updateTotal);
    document.getElementById('VIPquantity').addEventListener('input', updateTotal);

    window.onload = updateTotal;
</script>





<br><br><br><br>
{% endblock %}
