{% extends 'base.html' %}
{% block header %}
    <div class="videoRes">
        <video id="promo" muted autoplay loop preload><source src="static/img/Promotion.mp4" type="video/mp4"></video>
    </div>
{% endblock %}
{% block content %}

    <div>
        <div class="heading" id="recEve">
            <h1>Recommended Events</h1><br><br>
        </div>
        <div class="container">
            <div class="row">
                {% for event in recommended_events %}
                <div class="col-sm-3">
                    <a href="{{ url_for('event.event_details', id=event.id) }}" style="text-decoration:none; color:black;">
                        <div class="box">
                            {% if event.image %}
                            <img class="cropImage" src="{{ url_for('static', filename=event.image.split('static/')[1].replace('\\', '/')) }}" alt="Event Image">
                            {% else %}
                            <img class="cropImage" src="{{ url_for('static', filename='default_event.jpg') }}" alt="Default Event Image">
                            {% endif %}
                        </div>
                        <h5><b>{{ event.name }}</b></h5>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h1 class="heading">All Events</h1><br><br>
            <form class="d-flex" role="search" id="searchBar" action="{{ url_for('main.filter_events') }}" method="post">
                <input type="text" class="form-control me-2" name="search" placeholder="Search">
                <button type="submit" class="btn btn-outline-success searchBarBtn">Search</button>
                <button type="button" class="btn btn-outline-dark searchBarBtn" data-bs-toggle="collapse" data-bs-target="#filter">Filter</button>
                <br>
            <div id="filter" class="collapse container">
                <div class="row">
                    <div class="col-sm-12">
                        <h5><b>Event Category</b></h5>
                        <!-- List of Categories -->
                        <div>
                            <input type="checkbox" id="asian" name="category" value="asian">
                            <label for="asian">Asian</label><br>
        
                            <input type="checkbox" id="indian" name="category" value="indian">
                            <label for="indian">Indian</label><br>
        
                            <input type="checkbox" id="italian" name="category" value="italian">
                            <label for="italian">Italian</label><br>
        
                            <input type="checkbox" id="greek" name="category" value="greek">
                            <label for="greek">Greek</label><br>
        
                            <input type="checkbox" id="european" name="category" value="european">
                            <label for="european">European</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <div id="eventsContainer">
                {% if events %}
                    {% for event in events %}
                        <a href="{{ url_for('event.event_details', id=event.id) }}" style="text-decoration:none; color:black;">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="box">
                                        {% if event.image %}
                                            <img class="cropImage" src="{{ url_for('static', filename=event.image.split('static/')[1].replace('\\', '/')) }}" alt="Event Image">
                                        {% else %}
                                            <!-- Display a placeholder or text if no image is available -->
                                            <img class="cropImage" src="{{ url_for('static', filename='default_event.jpg') }}" alt="Default Event Image">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5><b>{{ event.name }}</b></h5>
                                    <p>{{ event.description }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <b>Location:</b> {{ event.location }}<br>
                                    <b>Date:</b> {{ event.start_date.strftime('%d %b %Y') }} - {{ event.end_date.strftime('%d %b %Y') }}<br>
                                    <b>Time:</b> {{ event.start_time.strftime('%I:%M %p') }} - {{ event.end_time.strftime('%I:%M %p') }}<br>
                                    <b>Status:</b> {{ event.status }}<br>
                                    <b>Event Organiser:</b> {{ event.user.name }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>No events found.</p>
                {% endif %}
            </div>
            
    
            <div id="eventsContainer"></div>
            <br><br>

        </div>
        <br><br><br><br>
    </div>
{% endblock %}