{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
{% endblock %}
{% block content %}
        <div>
            <div class="heading">
                <h1>Profile</h1><br><br>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-success form-control" type="button" data-bs-toggle="collapse" data-bs-target="#userInfo" aria-expanded="false" aria-controls="multiCollapseExample2">Personal Information</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-success form-control" type="button" data-bs-toggle="collapse" data-bs-target="#history" aria-expanded="false" aria-controls="multiCollapseExample2">Booking History</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-success form-control" type="button" data-bs-toggle="collapse" data-bs-target="#createdEvents" aria-expanded="false" aria-controls="multiCollapseExample2">Created Events</button>
                    </div>
                </div>
                <div class="collapse" id="userInfo">
                    <br><br>
                    No Information yet
                </div>
                <div class="collapse show" id="history">
                    <br><br>
                    <h4 class="heading">Booking History</h4><br>
                    <div class="formLayout">
                        <div class="container">
                            <table style="width:100%">
                                <tr>
                                    <th>Event Name</th>
                                    <th>Booked Date</th>
                                    <th>Booked Time</th>
                                </tr>
                                {% for booking in booked_events %}
                                <tr>
                                    <td>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    {% if booking.image %}
                                                    {% set image_url = booking.image.replace('website/static/', '').replace('\\', '/') %}
                                                    <img src="{{ url_for('static', filename=image_url) }}" alt="Event Image" style="max-width: 100px; max-height: 100px;">
                                                    {% else %}
                                                    <!-- Display a placeholder or text if no image is available -->
                                                        No Image Available
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-8 center"><b>{{ booking.name }}</b></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ booking.booking_time.strftime('%d %b %Y') }}</td>
                                    <td>{{ booking.booking_time.strftime('%I:%M %p') }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="collapse show" id="createdEvents">
                    <br><br>
                    <h4 class="heading">Your Created Events</h4><br>
                    <div class="formLayout">
                        <div class="container">
                            <table style="width:100%">
                                <tr>
                                  <th>Event Name</th>
                                  <th>Date</th>
                                  <th>Time</th>
                                </tr>
                                {% for event in created_events %}
                                <tr>
                                    <td>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    {% if event.image %}
                                                    {% set image_url = event.image.replace('website/static/', '').replace('\\', '/') %}
                                                    <img src="{{ url_for('static', filename=image_url) }}" alt="Event Image" style="max-width: 100px; max-height: 100px;">
                                                    {% else %}
                                                    <!-- Display a placeholder or text if no image is available -->
                                                        No Image Available
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-8 center"><b>{{ event.name }}</b></div>
                                    </td>
                                    <td>{{ event.start_date }}</td>
                                    <td>{{ event.start_time }}</td>
                                    <td><a href="{{ url_for('event.update_event', id=event.id) }}" class="btn btn-primary">Update</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
        <br><br><br><br>
{% endblock %}